$orange:rgb(252, 183, 49);
$grey:rgb(109, 111, 113);
$green1: rgb(179, 209, 67);
$green2: rgb(100, 123, 34);
$brownPicto: #c3a575;
$bluePicto: #00afec;
$breakpoint-1:990px;
$breakpoint-2:600px;

.container{
    width:100%;
    text-align:center;
    .logo-entreprise{
        max-height:60px;
    }
    .slogan{
        color:$orange;
    }
    .pictos{ 
        display:flex;
        flex-wrap:wrap;
        .picto{
            width:50%;
            margin:0;
            img{
                height:100px;
                margin-top:10px;
                margin-bottom:10px;
            }
        }
        
    }
}

.container-full{
    width:100%;
}

// ou -> pictos: display:flex; flex-wrap:wrap; et les enfants: .picto: width:50%

.textes-1{
    margin-top:30px;
    background-image: url('../svg/points.svg');
    .container{
        display:flex;
        flex-direction:column;
        p:nth-child(1){
            font-weight:bold;
        }
    }
}

@media (min-width:$breakpoint-2){
    .pictos .picto{
        width:24% !important;
        margin:0 !important;
        display:inline-block;
    }
}

@media (min-width:$breakpoint-1){
    .container{
        max-width:$breakpoint-1;
        margin:0 auto;
        .logo-entreprise{
            max-height:100px;
        }
        .pictos .picto{
            margin-top:30px;
            height:180px;
        }
    }
    .textes-1 .container{
        flex-direction:row;
    }
}