$orange:rgb(252, 183, 49);
$grey:rgb(109, 111, 113);
$green1: rgb(179, 209, 67);
$green2: rgb(100, 123, 34);
$breakpoint-1:990px;

@font-face {
    font-family: "Anton";
    src: url("../fonts/Anton-Regular.ttf") format("ttf")
}

img{
    width:100%;
}

.hamburger-menu{
    float:right;
    width:45px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom: 10px;
}

.navbar{
    .logo{
        max-width:230px;
        padding:10px;
        padding-top:15px;
    }
    ul{
        display:none;
        margin-top:15px;
        padding-inline-start: 0px;
        clear:both;
        margin-block-end: 0;
        position: absolute;
        right: 0;
        width: 65%;
        top: 50px;
        li{
            list-style:none;
            padding:10px;
            padding-left:40px;
            background-color: $green1;
            border: 1px solid black;
            width: 100%;
            &:hover{
                background-color:lighten( $orange, 20% )
            }
        
            a{
                color: black;
                font-size: 20px;
                display:inline-block;
                width:100%;
                font-family: "Anton";
            }
        }
        li:last-child{
            background-color:$orange;
        }
    }
}

@media (min-width:$breakpoint-1){
    .navbar {
        background-image: url('.././Photos/img-header.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        height: 500px;
        display: flex;
        justify-content: center;
        ul{
            position:initial;
            display:flex !important;
            margin-top:40px;
            justify-content: center;
            max-width:930px;
            margin-left:-25px;
            height:55px;
            li{
                border:none;
                background-color:$green1;
                width:200px;
                padding-left:10px;
                text-align:center;
            }
            li:last-child{
                background-color: $orange;
                position: relative;
                left: 20px;
            }
        }
        .logo{
            display:none;
        }   
    }
    .hamburger-menu{
        display:none;
    }
    .img-header{
        display:none;
    }   
}